<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Create New Listing</h3>
    <form method="post" action="/listings/">
        <input type="text" placeholder="enter title" name="listing[title]" id="">
        <br><br>
        <textarea placeholder="enter description" name="listing[description]" id=""></textarea>
        <br><br>
        <input type="text" placeholder="enter Image URL/link" name="listing[image] id="">
        <br><br>
        <input type="number" placeholder="enter price" name="listing[price]" id="">
        <br><br>
        <input type="text" placeholder="enter country" name="listing[country]" id="">
        <br><br>
        <input type="text" placeholder="enter location" name="listing[location]" id="">
        <br><br>
        <button>Add</button>
        

    </form>
</body>
</html>